@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

/*====root====*/
:root {
  --body-color: rgb(80, 70, 70);
  --text-color: #FADA7A ;
  --text-color2: #F0A04B ;
  --nav-color: #B1C29E ;
  --button-color: ;
}


li, a, button{
  font-family:  "montserrat",sans-serif ;
  font-weight: 500;
  font-size:  20px;
  color: var(--text-color);
  text-decoration: none;
}

h1, h2, h3, p{
  text-align: center;
  font-size: 500;
  color:var(--text-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

/*====navbar====*/

.navbar {
  background-color:var(--nav-color);
}

.nav_text {
  color: var(--text-color);
  font-family: "rakkas";
  font-size: 25px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a{
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color:rgb(3, 3, 3) ;
}

/*====button====*/

button {
  padding: 9px 25px;
  background-color: #F4D793;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #1a1917;
}

/*====body====*/

body {
  height: 100vh;
  background: var(--body-color);
}

.menu_links {
  list-style: none;
}

.menu_links li {
  display: flex;
  text-align: center;
  
}

.menu_links li a:hover{
  color:rgb(3, 3, 3) ;
}